<section class="Contact-Us py-5">
    <div>
        <h2 class="p-5 fw-normal text-center display-2">Get In Touch</h2>
        <div class="Connection">
            <div class="container bg-white p-5 rounded-1">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div>
                        <div class="text-center border border-opacity-10 border-1 rounded-2 p-3 vstack gap-3 fs-5">
                            <span><i class="fs-2 fa-solid fa-phone"></i></span>
                            <p class="m-0">+0123456789</p>
                            <p class="m-0">+0123456789</p>
                        </div>
                    </div>

                    <div>
                        <div class="text-center border border-opacity-10 border-1 rounded-2 p-3 vstack gap-3 fs-5">
                            <span><i class="fs-2 fa-solid fa-envelope"></i></span>
                            <p class="m-0">{{email1}}</p>
                            <p class="m-0">{{email2}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center border border-opacity-10 border-1 rounded-2 p-3 vstack gap-3 fs-5">
                            <span><i class="fs-2 fa-solid fa-location-dot"></i></span>
                            <p class="m-0">15 abcefthfg </p>
                            <p class="m-0">Egypt,cairo </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Connection-form my-5 ">
           <div class="container bg-white p-5 rounded-2">
            <div class="row row-cols-1 row-cols-md-2 align-items-center">
                <div>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Name</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Email</label>
                          <input type="email" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 d-flex flex-column">
                            <label for="exampleInputPassword1" class="form-label">Message</label>
                            <textarea class="form-control" name="" id=""></textarea>
                        </div>
                        <button type="submit" class="btn green-color text-white">Send Now</button>
                      </form>
                </div>

                <div class="d-flex justify-content-center">
                    <img src="assets/images/about2.jpg" class="w-50" alt="">
                </div>

            </div>
           </div> 
        </div>
    </div>
</section>