<section class="about-us">
    <div class="py-5 about-us-div">
        <h2 class="p-5 fw-normal text-center display-1">About Us</h2>
    </div>
    <section class="Slider-Section">
        <div class="container p-5">
            <div class="row row-cols-sm-1 row-cols-md-2">
                <div>
                    <img class="w-75" src="assets/images/about.jpg"  alt="">
                </div>
                <div class="d-flex align-items-center">
                    <div >
                        <p class="text-black text-uppercase fs-5">Fruit of the earth of time</p>
                        <h2 class="fw-medium display-3">River Nile Food
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam dolores fugiat dignissimos. Odio laborum consequuntur, fuga iusto laboriosam ad, placeat veritatis quidem non perspiciatis exercitationem ut alias, iste animi quae a rerum necessitatibus repellat saepe tempore quaerat reprehenderit sint officia quod! Eligendi obcaecati eveniet provident illo debitis eos quae.</p>
                        <a class="btn text-white main-bg-color fs-5">Read More ...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="Number-Of-Speak">
    <div class="bg-dark text-white p-5 my-5">
        <div class="conrainer py-3 ">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                <div>
                    <p class="fs-2">Numbers Speak For Themselves!
                    </p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="fw-normal display-4">5000+</span>
                    <span class="fs-3">Curated Products</span>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="fw-normal display-4">800+</span>
                    <span class="fs-3">Curated Products</span>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="fw-normal display-4">50+</span>
                    <span class="fs-3">Curated Products</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-product">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <img src="assets/images/about2.jpg" class="w-100"  alt="">
            </div>
            <div class="col-12 col-lg-8 px-5">
                <p class="text-black text-uppercase fs-5">Fruit of the earth of time</p>
                        <h2 class="fw-medium display-3">River Nile Food
                        </h2>
                <div class="row row-cols-1 row-cols-md-2 ">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ab autem, magnam odit totam non provident molestias odio nihil impedit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, commodi esse optio vitae ab veritatis veniam corporis incidunt doloribus blanditiis, fugit eligendi accusamus. Odit, voluptatum?</p>
                    </div>
                    <div>
                        <ul class="list-unstyled px-5 fs-5 vstack gap-3" >
                            <li class="hstack gap-2"><i class="fa fa-solid fa-check-circle"></i> <span>Fresh olives</span></li>
                            <li class="hstack gap-2"><i class="fa fa-solid fa-check-circle"></i> <span>olive oil</span></li>
                            <li class="hstack gap-2"><i class="fa fa-solid fa-check-circle"></i> <span>olive oil</span></li>
                            <li class="hstack gap-2"><i class="fa fa-solid fa-check-circle"></i> <span>Pickled olives</span></li>
                        </ul>
                    </div>
                </div>
                <a class="btn text-white main-bg-color fs-5"><span class="px-1"><i class="fa-solid fa-cart-shopping"></i></span>Start Shopping Now</a>
            </div>
        </div>
    </div>
</section>