/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", serif;
}

.main-color {

    color: #6a9739 !important;

}
.main-bg-color{
    background-color: #6a9739 !important;
}
.main-bg-color:hover{
    background-color: #8bc34a !important;
}
.hover-main-color:hover{
    color: #8bc34a !important;
}
